/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');


/* !BASE STYLES/RESET */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --light-color: #fcfaf3;
   --dark-color: #363636;
   --border-top-color: rgba(0, 0, 0, .1);
   --link-hover-color: rgba(255, 255, 255, .2);
   --title-font-family: 'Playfair Display', 'serif';
   --body-font-family: 'Poppins', 'sans-serif';
   --container-width: 96rem;
   --container-padding: 1.5rem;
   --section-vertical-spacing: 8rem;
}

body {
   font-size: 10px;
   font-family: var(--body-font-family);
   line-height: 1.5;
   background-color: var(--light-color);
   color: var(--dark-color);
   overflow-x: hidden;
}

body.dark-theme {
   --light-color: #000;
   --dark-color: #fff;
   --border-top-color: rgba(255, 255, 255, .1);
}

a {
   text-decoration: none;
   color: inherit;
   outline: none;
}

/* !REUSABLE CLASSES */
.container {
   max-width: var(--container-width);
   margin: 0 auto;
   padding: 0 var(--container-padding);
}

/* !HEADER */
.header {
   margin-bottom: 5rem;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 8rem;
   position: relative;
}

.logo {
   font-family: var(--title-font-family);
   font-size: 3rem;
   font-weight: 600;
}

img {
   max-width: 30px;
}

.button {
   cursor: pointer;
}

.theme-on {
   display: none;
}

/* !JAVASCRIPT STYLES */
.dark-theme .theme-off {
   display: none
}

.dark-theme .theme-on {
   display: block;
}