/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');


/* !BASE STYLES/RESET */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --light-color: #fcfaf3;
   --dark-color: #363636;
   --border-top-color: rgba(0, 0, 0, .1);
   --link-hover-color: rgba(255, 255, 255, .2);
   --title-font-family: 'Playfair Display', 'serif';
   --body-font-family: 'Poppins', 'sans-serif';
   --container-width: 96rem;
   --container-padding: 1.5rem;
   --section-vertical-spacing: 8rem;
}

body {
   font-size: 10px;
   font-family: var(--body-font-family);
   line-height: 1.5;
   background-color: var(--light-color);
   color: var(--dark-color);
   overflow-x: hidden;
}

body.dark-theme {
   --light-color: #130f0f;
   --dark-color: #fff;
   --border-top-color: rgba(255, 255, 255, .1);
}

a {
   text-decoration: none;
   color: inherit;
   outline: none;
}

/* !REUSABLE CLASSES */
.container {
   max-width: var(--container-width);
   margin: 0 auto;
   padding: 0 var(--container-padding);
}

.section {
   position: relative;
}

.d-grid {
   display: grid;
}

.section:not(.hero)::before {
   content: '';
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80vw;
   height: 80vh;
   background: radial-gradient(50% 50% at 50% 50%, rgba(255, 101, 118, .08) 0%, rgba(255, 101, 118, 0) 100%);
   z-index: -1;
}

/* !HEADER */
.header {
   margin-bottom: 5rem;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 8rem;
   position: relative;
}

.logo {
   font-family: var(--title-font-family);
   font-size: 2rem;
   font-weight: 600;
}

img {
   max-width: 30px;
}

.button {
   cursor: pointer;
}

.theme-on {
   display: none;
}

/* !JAVASCRIPT STYLES */
.dark-theme .theme-off {
   display: none
}

.dark-theme .theme-on {
   display: block;
}

/* !HERO */

.title {
   font-family: var(--title-font-family);
   font-weight: 300;
   text-transform: uppercase;
}

.main-title {
   font-size: clamp(5rem, 10vw, 10rem);
   text-align: center;
   line-height: 1.2;
}

.job-title {
   font-size: clamp(3rem, 5vw, 5rem);
   text-align: center;
   line-height: 1.2;
}

.proj-title {
   font-size: clamp(1.5rem, 3vw, 2rem);
   text-align: center;
   padding-top: 4rem;
}

.inline-image {
   display: inline-block;
   width: 7rem;
   height: 7rem;
   background: url(images/hero-image.jpg) top center no-repeat;
   background-size: cover;
   border-radius: 50%;
   border-bottom-left-radius: 0;
   margin: 0 1.5rem;
}

.has-sparkles,
.has-sparkles-alt {
   position: relative;
}

.has-sparkles::before,
.has-sparkles::after {
   content: '';
   position: absolute;
   background: url(images/sparkle.png) center no-repeat;
   background-size: cover;
}

.dark-theme .has-sparkles::before,
.dark-theme .has-sparkles::after {
   background: url(images/sparkle_light.png) center no-repeat;
   background-size: cover;
}

.has-sparkles::before {
   width: 1rem;
   height: 1rem;
   top: -.5rem;
   right: -.5rem;
}

.has-sparkles::after {
   width: .8rem;
   height: .8rem;
   bottom: 1rem;
   right: -1.2rem;
}