/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');


/* !BASE STYLES/RESET */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --light-color: #fcfaf3;
   --dark-color: #363636;
   --border-top-color: rgba(0, 0, 0, .1);
   --link-hover-color: rgba(255, 255, 255, .2);
   --title-font-family: 'Playfair Display', 'serif';
   --body-font-family: 'Poppins', 'sans-serif';
   --container-padding: 1.5rem;
   --section-vertical-spacing: 8rem;
}

html {
   /* 10px */
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-family: var(--body-font-family);
   font-size: 1.6rem;
   line-height: 1.5;
   background-color: var(--light-color);
   color: var(--dark-color);
   overflow-x: hidden;
}

body.dark-theme {
   --light-color: #130f0f;
   --dark-color: #fff;
   --border-top-color: rgba(255, 255, 255, .1);
}

a {
   text-decoration: none;
   color: inherit;
   outline: none;
}

ul {
   list-style: none;
}

span {
   display: inline-block;
}

i {
   font-size: 2.4rem;
}

/* !REUSABLE CLASSES */
.container {
   max-width: 54rem;
   margin: 0 auto;
   padding: 0 var(--container-padding);
}

.section {
   position: relative;
}

.section-space {
   margin-top: 30rem;
}

.d-grid {
   display: grid;
}

.section:not(.hero)::before {
   content: '';
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80vw;
   height: 80vh;
   background: radial-gradient(50% 50% at 50% 50%, rgba(255, 101, 118, .08) 0%, rgba(255, 101, 118, 0) 100%);
   z-index: -1;
}

/* !HEADER */
.header {
   margin-bottom: 5rem;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 8rem;
   position: relative;
}

.logo {
   font-family: var(--title-font-family);
   font-size: 3rem;
   font-weight: 600;
}

.img-icon {
   max-width: 20px;
}

.button {
   cursor: pointer;
}

.theme-on {
   display: none;
}

.list {
   display: flex;
   gap: 2.5rem;
}

.list-item {
   text-transform: uppercase;
   font-size: 1.3rem;
   letter-spacing: 2px;
}

.list-item:hover,
.list-item:focus {
   opacity: .7;
}

.list-link:hover,
.list-link:focus,
.scroll-top:hover,
.scroll-top:focus {
   opacity: .7;
}

/* !JAVASCRIPT STYLES */
.dark-theme .theme-off {
   display: none
}

.dark-theme .theme-on {
   display: block;
}

/* !HERO */

.hero {
   margin-top: 15rem;
}

.title {
   font-family: var(--title-font-family);
   font-weight: 300;
   text-transform: uppercase;
}

.main-title {
   font-size: clamp(5rem, 10vw, 10rem);
   text-align: center;
   line-height: 1.2;
}

.job-title {
   font-size: clamp(3rem, 5vw, 5rem);
   text-align: center;
   line-height: 1.2;
}

.inline-image {
   display: inline-block;
   width: 7rem;
   height: 7rem;
   background: url(images/hero-image.jpg) top center no-repeat;
   background-size: cover;
   border-radius: 50%;
   border-bottom-left-radius: 0;
   margin: 0 1.5rem;
}

.has-sparkles,
.has-sparkles-alt {
   position: relative;
}

.has-sparkles::before,
.has-sparkles::after {
   content: '';
   position: absolute;
   background: url(images/sparkle.png) center no-repeat;
   background-size: cover;
}

.dark-theme .has-sparkles::before,
.dark-theme .has-sparkles::after {
   background: url(images/sparkle_light.png) center no-repeat;
   background-size: cover;
}

.has-sparkles::before {
   width: 1rem;
   height: 1rem;
   top: -.5rem;
   right: -.5rem;
}

.has-sparkles::after {
   width: .8rem;
   height: .8rem;
   bottom: 1rem;
   right: -1.2rem;
}

/* !PORTFOLIO STYLES */

.section-title-container {
   display: inline-block;
   margin-bottom: 5rem;
}

.section-title {
   font-size: clamp(3rem, 7vw, 5rem);
}

.section-title-container {
   display: flex;
   align-items: center;
   column-gap: 1.5rem;
}

.title-number {
   width: 5rem;
   height: 5rem;
   border: 2px solid var(--dark-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.portfolio-cards {
   gap: 2.5rem;
}

.card-image {
   height: 30rem;
   background-color: #e0d6ce;
   margin-bottom: 2.5rem;
   border-radius: .4rem;
   display: flex;
   justify-content: center;
   transition: background-color .25s;
}

.card-image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   padding: 1rem;
}

.portfolio-card:hover .card-image,
.portfolio-card:focus .card-image {
   /* background-color: #ded9d4; */
   opacity: 0.5;
   transition: 0.3s;
}

.card-heading {
   color: var(--dark-color);
}

.card-title {
   font-size: 2rem;
}

.large-button-container {
   display: flex;
}

.large-button {
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-family: var(--title-font-family);
   font-size: 3rem;
   font-weight: 300;
   text-transform: uppercase;
   margin: auto;
   text-align: center;
}

.button-fill {
   position: relative;
   outline: 2px solid var(--dark-color);
   transition: color .25s;
   overflow: hidden;
}

.button-fill:hover {
   color: var(--light-color);
}

.button-fill::before {
   content: '';
   width: 100%;
   height: 100%;
   background-color: var(--dark-color);
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transform: scale(0);
   transform-origin: bottom left;
   transition: transform .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.large-button.button-fill::before {
   border-radius: 50%;
}

.button-fill:hover::before,
.button-fill:focus::before {
   transform: scale(1);
}

/* !ABOUT STYLES */

.description-image {
   width: 25rem;
   height: 25rem;
   margin: 0 auto;
}

.description-image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.tech-stack {
   max-width: 50rem;
   grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
   gap: 2.5rem;
}

.tech-stack-item {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.tech-stack-item i {
   font-size: 5rem;
   opacity: .5;
}

.dark-theme .tech-stack-item i {
   opacity: .8;
}

.tech-stack-item::before,
.tech-stack-item::after {
   position: absolute;
   top: -1rem;
   transform: translateY(-100%);
   opacity: 0;
   transition: transform .5s, opacity .5s;
}

.tech-stack-item::before {
   content: '';
   border: 1rem solid transparent;
   border-top-color: var(--dark-color);
   transform: translateY(0);
   z-index: 5;
}

.tech-stack-item::after {
   content: attr(data-tooltip);
   width: max-content;
   background-color: var(--dark-color);
   color: var(--light-color);
   padding: .5rem 1rem;
   border-radius: .4rem;
}

.tech-stack-item:hover::before {
   opacity: 1;
   transform: translateY(-.6rem);
}

.tech-stack-item:hover::after {
   opacity: 1;
   transform: translateY(cal(-100% + -.5rem));
}

/* !FOOTER */
.footer-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1.5rem;
   border-top: 1px solid var(--border-top-color);
   padding-top: 5rem;
   padding-bottom: 1.5rem;
}

.footer .list-link {
   color: var(--dark-color);
}

.footer-list-item i {
   font-size: 18px;
}

.footer-list {
   display: flex;
   gap: 2.5rem;
}

.footer-list-item:hover,
.footer-list-item:focus {
   opacity: .7;
}

.scroll-top {
   display: flex;
   align-items: center;
   color: var(--dark-color);
}

/* SCROLL BAR */
::-webkit-scrollbar {
   width: 1rem;
}

::-webkit-scrollbar-track {
   background-color: var(--dark-color);
}

::-webkit-scrollbar-thumb {
   background-color: #b3bbce;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #808694;
}

@media screen and (min-width: 768px) {
   .container {
      max-width: 96rem;
   }

   .section-description {
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
   }

   .description-image {
      width: 30rem;
      height: 30rem;
   }

   .portfolio-cards {
      grid-template-columns: repeat(8, 1fr);
   }

   .portfolio-card-1 {
      grid-column: 1/6;
      grid-row: 1/span 10;
   }

   .portfolio-card-2 {
      grid-column: 6/-1;
      grid-row: 2/span 10;
   }

   .portfolio-card-3 {
      grid-column: 1/5;
      grid-row: 11/span 10;
   }

   .portfolio-card-4 {
      grid-column: 5/-1;
      grid-row: 12/span 10;
   }

   .portfolio-card-5 {
      grid-column: 4/-1;
      grid-row: 22/span 10;
   }

   .portfolio-card-6 {
      grid-column: 1/4;
      grid-row: 21/span 10;
   }

   .portfolio-card-7 {
      grid-column: 5/-1;
      grid-row: 34/span 10;
   }

   .portfolio-card-8 {
      grid-column: 1/5;
      grid-row: 33/span 10;
   }
}